[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
setuptools = "*"
pylint = "*"
yapf = "*"
redhat_osv = {path = "."}

[packages]
redhat_osv = {editable = true, path = "."}
