[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osv = "*"
githubkit = "*"
importlib-metadata = "*"

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.13"
