name: Checks

on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]

concurrency:
  # Pushing new changes to a branch will cancel any in-progress CI runs
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Restrict jobs in this workflow to have no permissions by default; permissions
# should be granted per job as needed using a dedicated `permissions` block
permissions: {}

jobs:
  tests_osv-go:
    permissions:
      contents: read # to fetch code (actions/checkout)
    name: Run `packages/go` unit tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/go
    steps:
      - name: Check out code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: stable
          check-latest: true

      - run: go test ./...
  tests_osv-linter:
    permissions:
      contents: read # to fetch code (actions/checkout)
    name: Run `osv-linter` unit tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tools/osv-linter
    steps:
      - name: Check out code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: stable
          check-latest: true

      - run: go test ./...
